<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bwie.hm0422.dao.TBookMapper" >
  <resultMap id="BaseResultMap" type="com.bwie.hm0422.model.TBook" >
    <id column="B_ID" property="bId" jdbcType="VARCHAR" />
    <result column="BOOK_NAME" property="bookName" jdbcType="VARCHAR" />
    <result column="BOOK_INTRODUCE" property="bookIntroduce" jdbcType="VARCHAR" />
    <result column="BOOK_AUTHOR" property="bookAuthor" jdbcType="VARCHAR" />
    <result column="BORROWING_COUNT" property="borrowingCount" jdbcType="DECIMAL" />
    <result column="BORROWING_FLAG" property="borrowingFlag" jdbcType="DECIMAL" />
    <result column="PIC_URL" property="picUrl" jdbcType="VARCHAR" />
    <result column="BORROWING_TIME" property="borrowingTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    B_ID, BOOK_NAME, BOOK_INTRODUCE, BOOK_AUTHOR, BORROWING_COUNT, BORROWING_FLAG, PIC_URL, 
    BORROWING_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bwie.hm0422.model.TBookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BOOK
    where B_ID = #{bId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BOOK
    where B_ID = #{bId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bwie.hm0422.model.TBookExample" >
    delete from T_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bwie.hm0422.model.TBook" >
    insert into T_BOOK (B_ID, BOOK_NAME, BOOK_INTRODUCE, 
      BOOK_AUTHOR, BORROWING_COUNT, BORROWING_FLAG, 
      PIC_URL, BORROWING_TIME)
    values (#{bId,jdbcType=VARCHAR}, #{bookName,jdbcType=VARCHAR}, #{bookIntroduce,jdbcType=VARCHAR}, 
      #{bookAuthor,jdbcType=VARCHAR}, #{borrowingCount,jdbcType=DECIMAL}, #{borrowingFlag,jdbcType=DECIMAL}, 
      #{picUrl,jdbcType=VARCHAR}, #{borrowingTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bwie.hm0422.model.TBook" >
    insert into T_BOOK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bId != null" >
        B_ID,
      </if>
      <if test="bookName != null" >
        BOOK_NAME,
      </if>
      <if test="bookIntroduce != null" >
        BOOK_INTRODUCE,
      </if>
      <if test="bookAuthor != null" >
        BOOK_AUTHOR,
      </if>
      <if test="borrowingCount != null" >
        BORROWING_COUNT,
      </if>
      <if test="borrowingFlag != null" >
        BORROWING_FLAG,
      </if>
      <if test="picUrl != null" >
        PIC_URL,
      </if>
      <if test="borrowingTime != null" >
        BORROWING_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bId != null" >
        #{bId,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null" >
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookIntroduce != null" >
        #{bookIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null" >
        #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="borrowingCount != null" >
        #{borrowingCount,jdbcType=DECIMAL},
      </if>
      <if test="borrowingFlag != null" >
        #{borrowingFlag,jdbcType=DECIMAL},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="borrowingTime != null" >
        #{borrowingTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bwie.hm0422.model.TBookExample" resultType="java.lang.Integer" >
    select count(*) from T_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BOOK
    <set >
      <if test="record.bId != null" >
        B_ID = #{record.bId,jdbcType=VARCHAR},
      </if>
      <if test="record.bookName != null" >
        BOOK_NAME = #{record.bookName,jdbcType=VARCHAR},
      </if>
      <if test="record.bookIntroduce != null" >
        BOOK_INTRODUCE = #{record.bookIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.bookAuthor != null" >
        BOOK_AUTHOR = #{record.bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowingCount != null" >
        BORROWING_COUNT = #{record.borrowingCount,jdbcType=DECIMAL},
      </if>
      <if test="record.borrowingFlag != null" >
        BORROWING_FLAG = #{record.borrowingFlag,jdbcType=DECIMAL},
      </if>
      <if test="record.picUrl != null" >
        PIC_URL = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowingTime != null" >
        BORROWING_TIME = #{record.borrowingTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BOOK
    set B_ID = #{record.bId,jdbcType=VARCHAR},
      BOOK_NAME = #{record.bookName,jdbcType=VARCHAR},
      BOOK_INTRODUCE = #{record.bookIntroduce,jdbcType=VARCHAR},
      BOOK_AUTHOR = #{record.bookAuthor,jdbcType=VARCHAR},
      BORROWING_COUNT = #{record.borrowingCount,jdbcType=DECIMAL},
      BORROWING_FLAG = #{record.borrowingFlag,jdbcType=DECIMAL},
      PIC_URL = #{record.picUrl,jdbcType=VARCHAR},
      BORROWING_TIME = #{record.borrowingTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bwie.hm0422.model.TBook" >
    update T_BOOK
    <set >
      <if test="bookName != null" >
        BOOK_NAME = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookIntroduce != null" >
        BOOK_INTRODUCE = #{bookIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null" >
        BOOK_AUTHOR = #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="borrowingCount != null" >
        BORROWING_COUNT = #{borrowingCount,jdbcType=DECIMAL},
      </if>
      <if test="borrowingFlag != null" >
        BORROWING_FLAG = #{borrowingFlag,jdbcType=DECIMAL},
      </if>
      <if test="picUrl != null" >
        PIC_URL = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="borrowingTime != null" >
        BORROWING_TIME = #{borrowingTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where B_ID = #{bId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bwie.hm0422.model.TBook" >
    update T_BOOK
    set BOOK_NAME = #{bookName,jdbcType=VARCHAR},
      BOOK_INTRODUCE = #{bookIntroduce,jdbcType=VARCHAR},
      BOOK_AUTHOR = #{bookAuthor,jdbcType=VARCHAR},
      BORROWING_COUNT = #{borrowingCount,jdbcType=DECIMAL},
      BORROWING_FLAG = #{borrowingFlag,jdbcType=DECIMAL},
      PIC_URL = #{picUrl,jdbcType=VARCHAR},
      BORROWING_TIME = #{borrowingTime,jdbcType=TIMESTAMP}
    where B_ID = #{bId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMapVo" type="com.bwie.hm0422.vo.BookVo" >
    <id column="B_ID" property="bId" jdbcType="VARCHAR" />
    <result column="BOOK_NAME" property="bookName" jdbcType="VARCHAR" />
    <result column="BOOK_INTRODUCE" property="bookIntroduce" jdbcType="VARCHAR" />
    <result column="BOOK_AUTHOR" property="bookAuthor" jdbcType="VARCHAR" />
    <result column="BORROWING_COUNT" property="borrowingCount" jdbcType="DECIMAL" />
    <result column="BORROWING_FLAG" property="borrowingFlag" jdbcType="DECIMAL" />
    <result column="PIC_URL" property="picUrl" jdbcType="VARCHAR" />
    <result column="BORROWING_TIME" property="borrowingTime" jdbcType="TIMESTAMP" />
    <result column="TRAFFIC" property="traffic" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectBookVoList" resultMap="BaseResultMapVo">
        select t.*,c.TRAFFIC from T_BOOK t, T_CLICK c where t.B_ID=c.B_ID
    <if test="bookName!=null and bookName!='' ">
      and  t.BOOK_NAME like concat(concat('%',#{bookName}),'%')
    </if>
    <if test="startTime!=null and endTime !=null">
    and t.BORROWING_TIME between #{startTime}  and  #{endTime}
  </if>
    <if test="bId!=null and bId !=''">
      and t.B_ID =#{bId}
    </if>

  </select>
</mapper>